<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:/temp/nlog-internal.log">

	<variable name="appname" value="${replace:inner=${appdomain:{1\}}:searchFor=\.exe:replaceWith=}" />
	<variable name="dir" value="../../Logs/${appname}/${date:format=yyyyMMdd}" />
	<variable name="layout" value="${time} [${pad:padding=3:inner=${threadid}} ${whenEmpty:whenEmpty=NN:inner=${threadname}}] ${aspnet-TraceIdentifier} ${request-remote-host} ${mdlc:item=Scope} ${pad:padding=5:inner=${level:uppercase=true}} ${logger:shortName=true} - ${when:when=length('${event-properties:item=starttime}') &gt; 0:inner=Statistics ${event-properties:item=starttime} - ${event-properties:item=finishtime} (${event-properties:item=deltatime}) UpTime ${event-properties:item=uptime} AppInfo ${event-properties:item=appInfo}\: }${message} ${exception:format=ToString}" />
	<variable name="file" value="${appname}.${date:format=yyyyMMdd-HH}-${whenEmpty:whenEmpty=${processid}:inner=${gdc:item=jobId}}.log" />

	<variable name="bufferSize" value="32768" />
	<variable name="timeToSleep" value="500" />
	<variable name="batchSize" value="1000" />
	<variable name="overflowAction" value="Grow" />

	<targets>

		<target name="ConsoleLogWrapper" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="250" batchSize="200">
			<target name="Console" xsi:type="ColoredConsole" layout="${layout}" detectConsoleAvailable="true" >
				<highlight-row condition="equals('${event-properties:item=Monitoring}','true')" foregroundColor="Magenta"/>
			</target>
		</target>

		<target name="TraceLogWrapper" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="${timeToSleep}" batchSize="${batchSize}" overflowAction="${overflowAction}">
			<target name="TraceLog" xsi:type="File" fileName="${dir}/Trace/${file}" bufferSize="${bufferSize}" encoding="utf-8" layout="${layout}" archiveAboveSize="104857600" />
		</target>

		<target name="InfoLogWrapper" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="${timeToSleep}" batchSize="${batchSize}" overflowAction="${overflowAction}">
			<target name="InfoLog" xsi:type="File" fileName="${dir}/Info/${file}" bufferSize="${bufferSize}" encoding="utf-8" layout="${layout}" archiveAboveSize="104857600" />
		</target>

		<target name="WarningLogWrapper" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="${timeToSleep}" batchSize="${batchSize}" overflowAction="${overflowAction}">
			<target name="WarningLog" xsi:type="File" fileName="${dir}/Warn/${file}" bufferSize="${bufferSize}" encoding="utf-8" layout="${layout}" archiveAboveSize="104857600" />
		</target>

		<target name="ErrorLogWrapper" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="${timeToSleep}" batchSize="${batchSize}" overflowAction="${overflowAction}">
			<target name="ErrorLog" xsi:type="File" fileName="${dir}/Errors/${file}" bufferSize="${bufferSize}" encoding="utf-8" layout="${layout}" archiveAboveSize="104857600" />
		</target>

		<target name="jsonElasticLogWrapper" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="${timeToSleep}" batchSize="${batchSize}" overflowAction="${overflowAction}">
			<target name="jsonElasticLog" xsi:type="File" fileName="${dir}/jsonLog/${file}" bufferSize="${bufferSize}" encoding="utf-8" >
				<layout type="JsonLayout">
					<attribute name="timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffzzz}"/>
					<attribute name="threadId" layout="${threadid} ${whenEmpty:whenEmpty=NoName:inner=${threadname}}" />
					<attribute name="level" layout="${level}" />
          <attribute name="class" layout="${event-properties:item=class}"/>
					<attribute name="Detail" layout="${event-properties:item=Detail}" encode="false" />
				</layout>
			</target>
		</target>

		<target name="jsonElasticErrorsLogWrapper" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="${timeToSleep}" batchSize="${batchSize}" overflowAction="${overflowAction}">
			<target name="jsonElasticLog" xsi:type="File" fileName="${dir}/errorsElastic/Error.${file}" bufferSize="${bufferSize}" encoding="utf-8" >
				<layout type="JsonLayout">
					<attribute name="threadId" layout="${threadid} ${whenEmpty:whenEmpty=NoName:inner=${threadname}}" />
					<attribute name="level" layout="${level}" />
					<attribute name="logger" layout="${logger:shortName=true}"/>
					<attribute name="class" layout="ErrorReport"/>
					<attribute name="uptime" layout="${event-properties:item=uptime}" />
					<attribute name="Detail" encode='false'>
						<layout type='JsonLayout'>
							<attribute name="Message" layout="${message}" />
							<attribute name="Exception" layout="${exception:format=ToString}" />
							<attribute name="AspNetTraceIdentifier" layout="${aspnet-TraceIdentifier}" />
							<attribute name="RequestRemoteHost" layout="${request-remote-host}" />
							<attribute name="AppName" layout="${appname}" />
							<attribute name="StartTime" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffzzz}"/>
							<attribute name="MachineName" layout="${machinename}"/>
							<attribute name="FinishTime" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffzzz}"/>
						</layout>
					</attribute>
				</layout>
			</target>
		</target>

		<target xsi:type="Null" name="BlackHole" />
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="jsonElasticErrorsLogWrapper" />
		<logger name="json.*" minlevel="Info" writeTo="jsonElasticLogWrapper" final="true" />

		<logger name="*" minlevel="Trace" writeTo="ConsoleLogWrapper"/>

		<logger name="Messaging.*" maxLevel="Info" writeTo="TraceLogWrapper" final="true" />
		<!--Логи Microsoft (кроме ошибок, шлём их только в Trace-->
		<logger name="Microsoft.*" maxLevel="Info" writeTo="TraceLogWrapper" final="true" />
		<!--Логи HttpClient тоже не нужны в Info-->
		<logger name="System.Net.Http.HttpClient.*" maxLevel="Info" writeTo="TraceLogWrapper" final="true" />

		<logger name="*" minlevel="Trace" writeTo="TraceLogWrapper" />
		<logger name="*" minlevel="Info" writeTo="InfoLogWrapper"/>
		<logger name="*" minlevel="Warn" writeTo="WarningLogWrapper"/>
		<logger name="*" minlevel="Error" writeTo="ErrorLogWrapper"/>

	</rules>

</nlog>